body{
    background-color: #025e75;
    color:white;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color:tomato;
    font-size: 35px;
 }
.opcion{
    display: block;
    text-align: center;
    width:350px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    cursor:pointer ;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right top, #00eeff, #018eec, #028bfc, #0463e0, #04e0f0, #0897eb, #8d8af0, #6b9cff, #01b9ff, #00d2ff, #00e8ff, #5ffbf1);
}
.opcion:hover{
    background-image: linear-gradient(to right top, #3a710c, #bdca05, #f16d00, #c97d0a, #c27935);
}